<html>

<head>
    <meta charset="UTF-8">
    <title>React</title>
</head>

<body>
    <div id="test1"></div>
    <div id="test2"></div>
    <div id="test3"></div>
    <script src="../js/react.development.js"></script>
    <script src="../js/react-dom.development.js"></script>
    <script src="../js/babel.min.js"></script>

    <!-- 引入prop-typs，对组件标签属性进行限制 -->
    <script src="../js/prop-types.min.js"></script>

    <script type="text/babel">
        //创建组件
        function Person(props){
            return <ul>
                <li>{props.name}</li>
                <li>{props.sex}</li>
                <li>{props.age}</li>
                </ul>
        }
        
       //规定props条件(函数式组件的对标签属性的限制只能放在函数外面)
       Person.propTypes = {
            name:PropTypes.string.isRequired,
            sex:PropTypes.string.isRequired,
            age:PropTypes.number,
        }   

        //指定默认标签属性值(函数式组件的对标签属性的限制只能放在函数外面)
        Person.defaultProps = {
            sex:'None',
            age:18
        }

        //渲染组件到页面
        ReactDOM.render(<Person name='Tom' sex='male' age='25'/>, document.getElementById('test1'))
        ReactDOM.render(<Person name='Jerry'  age='24'/>, document.getElementById('test2'))
        ReactDOM.render(<Person name='Bo' sex='female' age='23'/>, document.getElementById('test3'))
        
        //语法糖
        const p = {name:'TEST_NAME', sex:'None'}
        //展开运算符（三点运算符），仅当用作标签属性时可以这个使用。否则复制字面量要加{}，可用作展开或合并，比如{...p,xxx:'yyy'}，(reacDOM的{}只是分隔符)
        ReactDOM.render(<Person {...p}/>, document.getElementById('test3'))
    </script>
 
</body>

</html>